In [16]:
import sys
import os
import argparse
import numpy as np
import pandas as pd
s = "CCAGTAGTGTCGGGAGCAAGTTCAGCAAAACTCAAACCTTTCAGGGTTGTGGAATCTTGC"

In [22]:
mers = [] #generate kmers
for i in range(len(s) - 1):
    mers.append( s[i:i+2])

In [23]:
featureOrder = pd.read_csv('featureOrder.txt',header = None, names = ['kmers']) #extractorder
featureOrder.loc[:,'kmers']

0        AA
1        AT
2        AC
3        AG
4        TA
5        TT
6        TC
7        TG
8        CA
9        CT
10       CC
11       CG
12       GA
13       GT
14       GC
15       GG
16      AAA
17      AAT
18      AAC
19      AAG
20      ATA
21      ATT
22      ATC
23      ATG
24      ACA
25      ACT
26      ACC
27      ACG
28      AGA
29      AGT
       ...
306    GCAC
307    GCAG
308    GCTA
309    GCTT
310    GCTC
311    GCTG
312    GCCA
313    GCCT
314    GCCC
315    GCCG
316    GCGA
317    GCGT
318    GCGC
319    GCGG
320    GGAA
321    GGAT
322    GGAC
323    GGAG
324    GGTA
325    GGTT
326    GGTC
327    GGTG
328    GGCA
329    GGCT
330    GGCC
331    GGCG
332    GGGA
333    GGGT
334    GGGC
335    GGGG
Name: kmers, Length: 336, dtype: object

In [24]:
featureOrder.T #convert features to columns

,0,1,2,3,4,5,6,7,8,9,...,326,327,328,329,330,331,332,333,334,335
kmers,AA,AT,AC,AG,TA,TT,TC,TG,CA,CT,...,GGTC,GGTG,GGCA,GGCT,GGCC,GGCG,GGGA,GGGT,GGGC,GGGG

In [25]:
mer2_counts = pd.value_counts(mer2) #count of all values
mer2_counts

NameError: name 'mer2' is not defined

In [56]:
indices = mer2_counts.index #get names
'A' in indices

False

In [26]:
df = pd.DataFrame(data = np.zeros((5,336)),columns=featureOrder.loc[:,'kmers'])
df

kmers,AA,AT,AC,AG,TA,TT,TC,TG,CA,CT,...,GGTC,GGTG,GGCA,GGCT,GGCC,GGCG,GGGA,GGGT,GGGC,GGGG
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [99]:
for i in range(5):
    print(i)
    if df.columns[i] in indices:
        df.iloc[0][i] = mer2_counts[df.columns[i]]
df

0
ok
1
ok
2
ok
3
ok
4
ok

kmers,AA,AT,AC,AG,TA,TT,TC,TG,CA,CT,...,GGTC,GGTG,GGCA,GGCT,GGCC,GGCG,GGGA,GGGT,GGGC,GGGG
0,7.0,1.0,2.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [111]:
def generate_kmers(s,l):
    mers = [] #generate kmers
    for i in range(len(s) - l - 1):
        mers.append( s[i:i+l])
    return mers

In [144]:
m2 = generate_kmers(s,2)
m3 = generate_kmers(s,3)
m4 = generate_kmers(s,4)
m = m2 + m3 + m4
pd.value_counts(m)

AA      7
CA      6
AG      6
GT      6
TC      5
TT      5
GG      5
TCA     3
CAG     3
AAA     3
AGT     3
CT      3
CAA     3
TG      3
AAC     2
AGC     2
AAAC    2
GTT     2
GGA     2
GC      2
GTG     2
TGT     2
TCAG    2
CC      2
AC      2
TTCA    2
CAAA    2
GGG     2
CTT     2
TTC     2
       ..
ACTC    1
AAT     1
GAA     1
CTTT    1
CCAG    1
GAG     1
CTCA    1
AGTA    1
GTCG    1
CGGG    1
AGGG    1
CAGG    1
CCTT    1
AGTG    1
AACC    1
TAG     1
AACT    1
GTA     1
GGGA    1
GGAG    1
TGTC    1
ACCT    1
AT      1
AGTT    1
ATCT    1
TGG     1
TCAA    1
GTGG    1
GTTG    1
ACT     1
Length: 101, dtype: int64

In [139]:
f = open('testSequence.txt','r')
seqs = f.read().split('\n')
len(seqs)
seqs = seqs[:len(seqs) -1] #lenseqs -1
len(seqs)
# seqs[999]

1000

In [152]:
df.loc[:,'AA'].mean()
np.std(df.loc[:,'AA'],ddof =1)

3.1304951684997055

In [43]:
df.to_csv('trywritedf.txt',sep='\t',header = False, index = False)

In [40]:
cols = df.columns
cols = list(cols)
cols.index('CAGG')
cols[220:225]

['CAGA', 'CAGT', 'CAGC', 'CAGG', 'CTAA']